@font-face {
  font-family: 'Oswald';
  src: local('Oswald'),
    url('../fonts/Oswald-Regular.ttf') format('truetype'),
    url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Oswald-Regular.woff') format('woff');
  font-weight: 400;
  font-style: 'regular';
}

body {
  background-color: #EAEAEA;
}

header {
  position: relative;
  height: 83px;
  margin-top: 1%;
  width: 1920px;
}

.home-link:active,
/* активная/посещенная ссылка */
.home-link:hover,
/* при наведении */
.home-link {
  position: relative;
  margin-left: 3.22%;

  font-family: 'Oswald';
  font-style: normal;
  font-weight: 'regular';
  font-size: 56px;
  color: #000000;
  text-decoration: none;
}

.options{
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 'regular';
}

#nav-dropdown-dark-example {
  position: relative;
  text-align: start;
  padding-top: 1.5rem;

  font-weight: 300;
  font-size: 40px;

  --bs-btn-bg: #ffffff;
  color: black;
  border: none;

  --bs-btn-color: #black;
  --bs-btn-bg: #ffffff;

  --bs-btn-hover-color: #black;
  --bs-btn-hover-bg: #ffffff;

  --bs-btn-active-color: #black;
  --bs-btn-active-bg: #d7d7d7;
  --bs-btn-active-border-color: #black;
}

#navbar-dark-example{
  padding-left: 63rem;
}