@font-face {
    font-family: 'Oswald';
    src: local('Oswald'),
        url('../fonts/Oswald-Medium.ttf') format('truetype'),
        url('../fonts/Oswald-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Oswald-Medium.woff') format('woff');
    font-weight: 500;
    font-style: medium;
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald'),
        url('../fonts/Oswald-Light.ttf') format('truetype'),
        url('../fonts/Oswald-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Oswald-Light.woff') format('woff');
    font-weight: 300;
    font-style: light;
}


/* Главный объект */
.nav-card-main {
    background-color: #d7d7d700;
    position: relative;
    margin-top: 30px;
    margin-left: 2.9%;
    width: 1810px;
    border: none;
}

/* Хэдэр главного объекта */
.nav-card-header {
    background-color: #eaeaea;
    border: 20px;
    border-color: black;
    height: max-content;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;

}

/* Табы хэдэра главного объекта */
.card-header-tabs {
    margin-left: calc(-1.0 * var(--bs-card-cap-padding-x));
    margin-top: auto;
    border: none;
    background-color: #EAEAEA;
}

/* Ссылки элементы хэдэра */
.nav-link:active,
.nav-link:hover,
.nav-link:link,
.nav-link {
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 216px;
    height: 79px;
    border: none;

    font-family: 'Oswald';
    font-weight: medium;
    font-size: 28px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: black;
}

/* Обработка ссылки хэдэра в неактивном состояниия */
.nav-link-months-year:hover,
.nav-link-months-year {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #F4F4F4;
}

/* Обработка ссылки хэдэра в неактивном состояниия */
.nav-link-week:hover,
.nav-link-week {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #E0E0E0;
}

/* Обработка ссылки хэдэра в неактивном состояниия */
.nav-link-day:hover,
.nav-link-day {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #d7d7d7;
}

/* Настройка кнопок выбора дат */

.nav-group-button-date {
    position: relative;
    left: 479px;
    bottom: 14px;
    text-align: center;
    vertical-align: middle;
}

/* Обработка тела контента */
.content-card-body{
    background-color: white;
    border-radius: 12px;
    border-top-left-radius: 0px;
    padding-left: 14px;
    padding-top: 80px;
}